<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/signin.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <script>
        function back(){
            window.history.back();
        }
    </script>
    <script>
        $(function(){
            $("#success").hide();
            $("#danger").hide();
            $("#signup").attr("disabled","disabled");
            $("input").keyup(function(){
                var pass1=$("#floatingPassword").val();
                var pass2=$("#floatingPasswordConfirm").val();
                if(pass1&&pass2){
                    if(pass1==pass2){
                        $("#success").show();
                        $("#danger").hide();
                        $("#signup").removeAttr("disabled");
                    }else{
                        $("#success").hide();
                        $("#danger").show();
                        $("#signup").attr("disabled","disabled");                   
                    }                 
                }else{
                    $("#success").hide();
                    $("#danger").show();
                    $("#signup").attr("disabled","disabled");                   
                }
            })
        });
    </script>
</head>
<body class="text-center">
    <main class="form-signin">
        <div class="box"></div>
    <form action="/signup_2" method="post">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="ID" name="post_id">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm password" name="passwordconfirm">
            <label for="floatingPasswordConfirm">Confirm Password</label>
        </div>
        <div class="alert alert-success" id="success">비밀번호 일치</div>
        <div class="alert alert-danger" id="danger">비밀번호 불일치</div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" placeholder="name" name="name">
            <label for="floatingName">Name</label>
        </div>
        <select class="form-select" aria-label="Default select example" name="division">
            <option selected>Division</option>
            <option value="Google">Google</option>
            <option value="Naver">Naver</option>
            <option value="Kakao">Kakao</option>
            <option value="Nexon">Nexon</option>
        </select>
        <div class="form-check">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="linkcode" id="inlineRadio1" value=0>
            <label class="form-check-label" for="inlineRadio1">관리자</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="linkcode" id="inlineRadio2" value=1>
            <label class="form-check-label" for="inlineRadio2">일반 회원</label>
        </div>
        </div>
        <button style="margin-top: 10px" class="w-100 btn btn-lg btn-info" id="signup" type="submit">Sign up</button>
    </form>
    <button style="margin-top: 10px" class="w-100 btn btn-lg btn-secondary" onclick="back()">cancel</button>
</main>
</body>
</html>