<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            var i=0;
            $("button").on("click",function(){
                $("p").html("<div class='wrap'>"+(++i)+"</div>");
            });
        });
    </script>
</head>
<body>
    <p>안녕하세요.</p>
    <button>문장 변경</button>    
</body>
</html>